.container{
    border-color: black;
}

.vistaEstudiantes{
    background: #A0D0A8;
    color: white;
    border-radius: 2rem;
    height: 6%;
    font-size: 175%;
    padding-left: 2%;
}

.tituloTabla{
    background: rgb(71, 187, 184);
    color: white;
    border-radius: 2rem;
    height: 6%;
    font-size: 175%;
    padding-left: 2%;
}

.fontRaleway{
    font-family: 'Raleway', sans-serif;
}

.temasIns{
    margin-left: 1%;
    margin-right: 1%;
}

.cellBorder{
    border-style: solid;
    border-color: #39ADAA;

}

.centrar{
    width: 100%;
    text-align: center;
}


.centrarBoton{
    text-align: center;
    margin-left: 46%;
    margin-right: 45%;
}


#panelTabla, #descripcionTema{
    margin-left: 2%;
    margin-right: 2%;
}

#paginacion{
    text-align: right;
}

#descripcionTema{
    text-align: left;
    background: rgb(71, 187, 184);
    color: black;
}

tbody tr th{
    cursor: pointer;
}